body {
    padding: 20;
  }

img {
    width: 500px;
    height: 500px;

    object-fit: cover;
}

.hidden {
    display: none;
}

.cat-info {
    margin-top: 20px;
  
    display: flex;
    gap: 20px;
  }



